/* Footnotes section styling */
aside.footnote-list {
  margin-top: 4rem;
  border-top: 1px solid var(--color-background-border);
  padding-top: 1rem;
}

/* https://github.com/pradyunsg/furo/issues/28#issuecomment-1380549435 */
.theme-toggle-container {
  display: none;
}

/* Hide default footer */
div.bottom-of-page {
  display: none;
}

img.sidebar-logo {
  border-radius: 1rem;
}

a.headerlink {
  text-decoration: none;
}

a.headerlink:hover {
  text-decoration: none;
  font-weight: 500;
}

div.related-pages {
  margin-bottom: 1rem;
}

/* Poner el caption de tablas debajo de ellas */
table.docutils {
  caption-side: bottom;
}

/* Separar un poco el caption de la tabla */
table.docutils caption {
  margin-top: 0.5rem;
}

.strike {
  text-decoration: line-through;
}
